<!DOCTYPE html>
<html>
  <head>
    <title>Gmap</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDehU6hzV0XegK1VWeAaF56S0KquK3v6n8" type="text/javascript"></script>

  <script src="https://cdn.rawgit.com/googlemaps/js-marker-clusterer/gh-pages/src/markerclusterer.js"></script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
